<style>
  footer{
    background-color: #874356; 
    height: 7%;
    left: 0;
    position: static;
    bottom: 0;
    width: 100%;
  }

  a {
    padding: 20px;
  }

  p {
    color: #F6E7D8;
    font-family:'Poppins', sans-serif;
    text-align: center;
    padding-top: 15px
  }

  .foot-link{
    padding-top: 20px; 
    text-align: center;
  }
</style>


<footer>
  <div class="foot-link">
    <a href="#"><img width="30rem"
        src="https://www.freepnglogos.com/uploads/twitter-logo-png/black-and-white-twitter-logo-png-hq-download-25.png"
        alt=""></a>
    <a href="#"><img width="30rem"
        src="https://www.freepnglogos.com/uploads/512x512-logo/512x512-transparent-instagram-logo-icon-5.png"
        alt=""></a>
    <a href="/emailUs"><img width="30rem"
        src="https://www.freepnglogos.com/uploads/envelope-png/mail-envelope-interface-icons-23.png" alt=""></a>
  </div>
  <p>©2022 Created by Ratih & Debby </p>
</footer>